# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.venv/
*.env
.env.local
env/
env.bak/
pip-log.txt
pip-delete-this-directory.txt

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Database and migration files
*.db
*.sqlite3
migrations/
alembic/versions/

# Logs
logs/
*.log
debug.log
error.log

# IDE & Editor files
.vscode/
.idea/
*.iml
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store
Thumbs.db
